.document-list{
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.63);
}
.document-list__title {
  padding: 10px;
  border-radius: 3px 3px 0 0px;
  background-color: #C85700;
  color: #FFF;
}
